@import "components/normalize";
@import "components/colors";
@import "components/typography";
@import "components/utilities";
@import "components/shadow";

@import "components/navbar";
@import "components/buttons";


///////////******** hero area  *********/////////////////

header {
    background-color: #FAFAFA;
    height: 100vh;
}

nav {
    background-color: inherit;

    img {
        height: 30px;
    }

    a {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
    }

    a:hover {
        color: rgba(19, 18, 18, 0.80);
    }

    .left {
        margin-left: 2em;
    }

    span {
        font-size: inherit;
        color: inherit;
        font-weight: 700;
        line-height: 36px
    }

    .btn {
        border-radius: 4px;
    }

    .hamburger {
        display: none;
        font-size: 2em;
        background-color: transparent;
        cursor: pointer;
    }
}

.hero-area {
    display: flex;
    position: relative;
    margin-top: 4em;

    .text {
        display: flex;

        & .text-area {
            max-width: 700px;
            z-index: 3;
            margin-top: 13em;

            & h1 {
                font-size: 3rem;
                font-weight: 700;
            }

            & p {
                font-weight: 600;
                font-size: 1.9rem;
                color: $aliceblue;
                margin-bottom: .5em;
            }

            & a {
                color: $aliceblue;
                background: $royalblue;

            }

            & a:hover {
                background: $gold;
                color: $darkslategray;
                font-weight: 600;
            }


        }
    }

    .blob {
        width: 900px;
        left: -130px;
        position: absolute;
    }


    .svg-lady {
        width: 650px;
        right: -125px;
        position: absolute;
    }



}

///////////******** about-us section  ********//////////////////

#about-us {
    background-image: url(../img/about-us-background.svg);


    .about-us-column {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 4em;
        margin-bottom: 4em;
    }

    .text {
        h2 {
            font-size: 3rem;
            min-width: 700px;
        }

        p {
            font-size: 1.1rem;
            margin-top: 1em;
            max-width: 600px;
        }
    }

    .svg-firewall {
        min-width: 575px;
    }


}




//******** choose a plan section **********//////

#choose-plan {
    // border: 1px solid rgba(0, 0, 0, 0.08);
    background-image: url(../img/plans-background.svg);

    .price-cards {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 7em;
        margin-top: 4em;
        margin-bottom: 4em;

        .card:nth-child(3) .price {
            margin-top: 1em;
        }

        .card:nth-child(2) .price {
            margin-top: 1em;
        }

        .card:nth-child(1) .price {
            margin-top: 1em;
        }

        .card {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 300px;
            height: 585px;
            background-color: $card-background-color;
            border-radius: 8px;

            .basic {
                color: $basic;
            }

            .pro {
                color: $pro;
            }

            .business {
                color: $business;
            }

            // .basic-h2 {
            //     align-self: str;
            // }
            .business-h2 {
                margin-top: auto;
            }

            .price {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                background-color: $white;
                height: 275px;
                width: 250px;
                border-radius: 15px;

                h3 {
                    font-size: 2.5rem;
                    margin-bottom: .05em;
                    letter-spacing: 1px;
                    margin-top: .75em;
                }

                &>.basic,
                >.pro {
                    max-width: 200px;
                }

                &>p {
                    margin-bottom: 1.75em;
                }

                p:nth-child(4) {
                    margin-top: .75em;
                    line-height: 1;
                    font-size: .85rem;
                    font-weight: 600;

                }

                .btn {
                    padding: 0em 2.15em
                }

                .basic-btn {
                    background-color: $basic;
                    color: #EAF2FA;
                }

                .basic-btn:hover,
                .pro-btn:hover,
                .business-btn:hover {
                    background-color: $btn-hover;
                    color: #EAF2FA;
                }

                .pro-btn {
                    background-color: $pro;
                    color: #EAF2FA;
                }

                .business-btn {
                    background-color: $business;
                    color: #EAF2FA;
                }




            }

            .align-left {
                align-self: start;
                margin-top: 2em;
                margin-left: 2em;

                & p,
                h3 {

                    margin-bottom: .55em;
                }

                & i {
                    border-radius: 50%;
                    background-color: $white;
                    padding: .25em;
                    margin-right: .45em;
                }

                .basic-mark {
                    color: $basic;
                }

                .pro-mark {
                    color: $pro;
                }

                .business-mark {
                    color: $business;
                }



            }

            .align-left:nth-child(3) p:nth-child(5) {
                margin-bottom: 1em;
            }
        }


    }

}

/////*********** contact us section ***//////


#contact-us {
    background-color: #F2FAFF;
    padding-bottom: 4em;


    h1 {
        margin-bottom: 2.5em;
    }

    .contact-us-cards {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4em;
        padding: 3em;

        .card {
            width: 300px;
            height: 425px;
            background-color: $white;
            padding: 1em;
            border-radius: 25px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h3,
            .svg-div,
            p,
            a {
                margin-bottom: 1em;
            }

            p {
                max-width: 200px;
            }

            i {
                margin-right: .5em;
                color: $gray;
            }

            .btn {
                background-color: $gold;
                color: #F2FAFF;
                padding: 0em 3.5em;

            }

            .btn:hover {
                background-color: $darkslategray;
                color: #F2FAFF;

            }
        }
    }
}

////////*********** footer ******//////////
footer {
    padding: 3em;
    background-color: #404B7C;
    color: rgba(255, 255, 255, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;

    .social-media {
        margin-bottom: 1em;

        i {
            font-size: 1.5rem;
            margin-right: .90em;
        }

        & .facebook:hover {
            color: darkblue;
        }

        & .twitter:hover {
            color: $royalblue;
        }

        & .instagram:hover {
            color: red;
        }

        & .linkedin:hover {
            color: burlywood;
        }


    }

    .copyright {

        span,
        a {
            margin-right: 1.5em;
        }
    }

}

@import "components/breakPoints";