#plant {
    animation: plantXDirection 1500ms infinite linear alternate;
    transform-origin: bottom;
}

@keyframes plantXDirection {
    0% {
        transform: rotate(-.15deg);
    }

    100% {
        transform: rotate(1deg);
    }
}

#tablet {
    // width: 300px;
    margin: auto;
    display: block;
    text-align: center;
    animation: scale 1s infinite ease-in-out alternate-reverse;
    // transform-origin: 50% 50%;
    transform-box: fill-box;

}

#shield {
    // width: 300px;
    margin: auto;
    display: block;
    text-align: center;
    animation: scale2 1s infinite ease-in-out alternate-reverse;
    // transform-origin: 50% 50%;
    transform-box: fill-box;

}


#ghost_1 {
    z-index: 3;
    animation: floatingXLeft 8s infinite ease-in-out alternate-reverse;
    position: absolute;
}

#ghost_2 {
    z-index: 4;
    animation: floatingXRight 5s infinite ease-in-out alternate-reverse;
    position: absolute;
}




@keyframes scale {
    0% {
        transform: scale(1)
    }

    50% {
        transform: scale(1.07);
    }

    100% {
        transform: scale(1);
    }

}

@keyframes scale2 {
    0% {
        transform: scale(1)
    }

    50% {
        transform: scale(1.04);
    }

    100% {
        transform: scale(1);
    }

}

@keyframes floatingXRight {

    0% {
        transform: translate(-45px, 0px);
    }

    65% {
        transform: translate(0, 0);

    }

    100% {
        transform: translate(30px, 0px);

    }
}

@keyframes floatingXLeft {

    0% {
        transform: translate(-55px);
    }

    50% {
        transform: translate(0);

    }

    100% {
        transform: translate(45px, 0px);

    }
}