@media(max-width:1650px) {

    .hero-area {
        // display: flex;
        // flex-direction: column;

        #text-area {
            max-width: 550px;
        }

        & .svg-lady {
            width: 550px;
        }

        .blob {
            width: 750px;
        }

        #main-h1 {
            font-size: 2.25rem;
        }

        #main-para {
            font-size: 1.25rem;
        }
    }
}

@media(max-width:1350px) {
    nav .hamburger {
        display: block;
        cursor: pointer;
    }

    .nav-link {
        display: none;
    }

    .hero-area {
        #text-area {
            width: 475px;
        }

        .blob {
            width: 650px;
        }

        #main-h1 {
            font-size: 1.90rem;
        }

        #main-para {
            font-size: 1.25rem;
        }

    }



}

@media(max-width:1200px) {
    .hero-area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        #svg-lady {
            right: unset;
            position: relative;
            margin-top: 4em;
        }
    }

    .hero-area {
        #text-area {
            width: 475px;
            margin-top: 10em;
        }

        .blob {
            width: 650px;
            left: unset;
            position: absolute;
            right: 50px;
        }

        #main-h1 {
            font-size: 1.75rem;
        }

        #main-para {
            font-size: 1.2rem;
        }

    }



}

@media(max-width:850px) {
    .hero-area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        #svg-lady {
            right: unset;
            position: relative;
            margin-top: 4em;
        }
    }

    .hero-area {
        #text-area {
            width: 475px;
            margin-top: 10em;
        }

        .blob {
            width: 650px;
            left: unset;
            position: absolute;
            right: 20px;
        }

        #main-h1 {
            font-size: 1.75rem;
        }

        #main-para {
            font-size: 1.2rem;
        }

    }



}


@media(max-width:450px) {
    #nav-container {
        margin-bottom: 3.5em;
        padding: 1em;
    }

    header {
        height: 950px;
        overflow: hidden;
    }

    .container {
        max-width: unset;
        width: unset;
        margin: 0;
        padding: 0;

    }

    .logo {
        width: unset;
    }

    .hero-area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        #svg-lady {
            right: unset;
            position: relative;
            margin-top: 8em;
        }
    }

    .hero-area {
        #text-area {
            width: unset;
            margin-top: 4em;
        }

        .blob {
            width: 700px;
            left: unset;
            position: absolute;
            right: -170px;
            top: -70px;
        }

        #main-h1 {
            font-size: 1.60rem;
            text-align: left;
            padding-left: .5em;
        }

        #main-para {
            font-size: 1.15rem;
            padding-left: .7em;
        }

        .main-btn {
            display: block;
            margin: 0 1em;
        }

    }



}



@media(max-width:400px) {
    #nav-container {
        margin-bottom: 2em;
        padding: 1em;
    }

    header {
        height: 800px;
        overflow: hidden;
    }

    .container {
        max-width: unset;
        width: unset;
        margin: 0;

    }

    .logo {
        width: unset;
    }

    .hero-area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        #svg-lady {
            right: unset;
            position: relative;
            margin-top: 4em;
            width: 337px;
        }
    }

    .hero-area {
        #text-area {
            width: unset;
            margin-top: 4em;
        }

        .blob {
            width: 600px;
            left: unset;
            position: absolute;
            right: -140px;
            top: -50px;
        }

        #main-h1 {
            font-size: 1.60rem;
            text-align: left;
            padding-left: .5em;
        }

        #main-para {
            font-size: 1.15rem;
            padding-left: .7em;
        }

        .main-btn {
            display: block;
            margin: 0 1em;
        }

    }



}