@media(max-width:1650px) {

    .hero-area {
        // display: flex;
        // flex-direction: column;

        #text-area {
            max-width: 550px;
        }

        & .svg-lady {
            width: 550px;
        }

        .blob {
            width: 750px;
        }

        #main-h1 {
            font-size: 2.25rem;
        }

        #main-para {
            font-size: 1.25rem;
        }
    }

    // about us section
    #about-us {
        .text {
            h2 {
                min-width: unset;
            }

            p {
                max-width: unset;
            }
        }

        .svg-firewall {
            min-width: 500px;
        }
    }
}

@media(max-width:1350px) {

    #nav-container {

        .nav-open {
            background: transparent;
            border: none;
            margin-left: auto;
            cursor: pointer;
            display: block;
        }

        .mobile-nav {
            background: $white;
            z-index: 100000000000;
            top: 0;
            bottom: 0;
            right: 0;
            left: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
            position: fixed;
            color: $black;
            transition: all 450ms ease-in-out;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .nav-close {
                display: block;
                background: transparent;
                color: $black;
                border: none;
                font-size: 3.5rem;
                right: 30px;
                top: 7px;
                position: absolute;
                cursor: pointer;
            }

            .nav-ul {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                color: $black;
                padding: 0;
                margin: 0;
                text-align: center;

                a {
                    color: $black;
                    line-height: .65;
                }

                .left {
                    margin-left: unset;
                }

                span {
                    display: none;
                }

                li {
                    padding: 1.25em;
                    font-size: 1.5rem;
                }

                .btn {
                    height: unset;

                    li {
                        padding: .65em;
                    }
                }

                .btn:hover {
                    color: $white;

                    li {
                        padding: .65em;
                    }
                }

            }
        }

        .open {
            left: 0;
        }
    }

    .hero-area {
        #text-area {
            width: 475px;
            margin-top: 10em;
        }

        .blob {
            width: 650px;
        }

        #main-h1 {
            font-size: 1.90rem;
        }

        #main-para {
            font-size: 1.25rem;
        }

    }










}

@media(max-width:1200px) {
    .hero-area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0;

        #svg-lady {
            right: unset;
            position: relative;
            margin-top: 4em;
        }
    }

    .hero-area {
        #text-area {
            width: 475px;
            margin-top: 10em;
        }

        .blob {
            width: 650px;
            left: unset;
            position: absolute;
            right: 50px;
        }

        #main-h1 {
            font-size: 1.75rem;
        }

        #main-para {
            font-size: 1.2rem;
        }

    }

    ///////********** about us section *****//////////
    #about-us {
        .about-us-column {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .text {
                h2 {
                    min-width: unset;
                }
            }


        }

    }

}

// price plan section
@media(max-width:1000px) {

    #choose-plan {
        .price-cards {
            display: flex;
            flex-direction: column;
            gap: 4em;
        }
    }

}




@media(max-width:850px) {
    .hero-area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        #svg-lady {
            right: unset;
            position: relative;
            margin-top: 4em;
        }
    }

    .hero-area {
        #text-area {
            width: 475px;
            margin-top: 10em;
        }

        .blob {
            width: 650px;
            left: unset;
            position: absolute;
            right: 20px;
        }

        #main-h1 {
            font-size: 1.75rem;
        }

        #main-para {
            font-size: 1.2rem;
        }

    }

    #contact-us {
        .contact-us-cards {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }


    .upScroll {
        padding: .45em;
    }

}

@media(max-width:550px) {
    footer {

        .social-media {
            margin-bottom: 1.5em;
        }




        .copyright {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;


            a {
                margin-top: .75em;
            }
        }

    }
}

@media(max-width:450px) {
    #nav-container {
        margin-bottom: 3.5em;
        padding: 1em;
    }

    header {
        height: 950px;
        overflow: hidden;
    }

    .container {
        max-width: unset;
        width: unset;
        margin: 0;
        padding: 0;

    }

    .logo {
        width: unset;
    }

    .hero-area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        #svg-lady {
            right: unset;
            position: relative;
            margin-top: 8em;
            width: 400px;

        }
    }

    .hero-area {
        #text-area {
            width: unset;
            margin-top: 4em;
        }

        .blob {
            width: 700px;
            left: unset;
            position: absolute;
            right: -170px;
            top: -70px;
        }

        #main-h1 {
            font-size: 1.60rem;
            text-align: left;
            padding-left: .5em;
        }

        #main-para {
            font-size: 1.15rem;
            padding-left: .7em;
        }

        .main-btn {
            display: block;
            margin: 0 1em;
        }

    }

    ///******* about section*********///////
    #about-us {
        display: flex;
        flex-direction: column;

        .about-us-column {
            margin-top: 2em;
            margin: 1em;
            display: flex;
            flex-direction: column;
        }

        .text {
            h2 {
                min-width: unset;
                font-size: 1.75rem;

            }

            p {
                max-width: unset;
                font-size: 1.1rem;
            }
        }

        .svg-firewall {
            min-width: 390px;
        }
    }

}



@media(max-width:400px) {
    #nav-container {
        margin-bottom: 2em;
        padding: 1em;
    }

    header {
        height: 800px;
        overflow: hidden;
    }

    .container {
        max-width: unset;
        width: unset;
        margin: 0;

    }

    .logo {
        width: unset;
    }

    .hero-area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        #svg-lady {
            right: unset;
            position: relative;
            margin-top: 4em;
            width: 375px;
        }
    }

    .hero-area {
        #text-area {
            width: unset;
            margin-top: 4em;
        }

        .blob {
            width: 600px;
            left: unset;
            position: absolute;
            right: -140px;
            top: -50px;
        }

        #main-h1 {
            font-size: 1.60rem;
            text-align: left;
            padding-left: .5em;
        }

        #main-para {
            font-size: 1.15rem;
            padding-left: .7em;
            padding-right: 1em;

        }

        .main-btn {
            display: block;
            margin: 0 1em;
        }

    }

    ///******* about section*********///////
    #about-us {
        .text {
            h2 {
                font-size: 1.65rem;
            }

            p {
                font-size: 1rem;
            }
        }

        .svg-firewall {
            min-width: 300px;
        }
    }

}