$white: #FFFFFF;
$off-white:#E6E6E6;
$light-grey:#BFBFBF;
$light-grey2:#A0ACBD;
$grey:#808080;

$black:#000000;
$darkslategray-light:#30363d;
$darkslategray:#21262d;

// strapi
$royalblue:#1f6feb;
$mediumslateblue:#8c4bff;
$darkturquoise:#00b6c8;
$gold:#f6b73e;
$ghostWhite:#f6fafe;
$mediumseagreen:#13bb70;
$midnightblue:#1d1b84;
$darkslateblue:#302e9a;
$darkgray:#9da9ca;

// github
$navbar:#161b22;
$body:#0d1117;
$dodgerblue:#2f9aff;
$aliceblue:#f0f6fc;
$forestgreen:#238636;

// netflix
$linen:#efedea;
$darkseagreen:#96a396;
$black:#181818;
$mintcream:#f8ffff;
$gray:#757575;



//nav btn colors
$btn-primary:#5B8EDF;
$btn-text:$black;
$btn-hover:$darkslategray;
$btn-text-hover:$mintcream;