//auto wrapping columns
.grid-auto-fit {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

//4 column grid
.grid-4-col {
    grid-template-columns: repeat(4, 1fr);
}

//3 column grid
.grid-3-col {
    grid-template-columns: repeat(3, 1fr);
}

//2 column grid
.grid-2-col {
    grid-template-columns: repeat(2, 1fr);
}

//1 column grid
.grid-1-col {
    grid-template-columns: repeat(4, 1fr);
}