body {
    font-family: 'Lora', serif;
    color: $black;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $black;
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Lora', serif;
    line-height: 1.4;
}

// about section font
$h1-section-font:2rem;