.hide {
    display: none !important;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.center,
.center-align {
    text-align: center;
}

.left {
    float: left !important;
}

.right {
    float: right !important;
}

.circle {
    border-radius: 50%;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}

.section {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media only screen and (max-width: 500px) {
    .container {
        width: 100%;
    }
}

@media only screen and (min-width: 601px) {
    .container {
        width: 85%;
    }
}



@media only screen and (min-width: 993px) {
    .container {
        width: 70%;
    }
}






//******** website Utilities  *******////////


#about-us h1,
#choose-plan h1 {
    text-align: center;
    color: $h1-section-color;
    font-size: $h1-section-font;
    margin-top: 1.5em;
    text-transform: uppercase;
    letter-spacing: 0.44em;
}